@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "extraOld";
    src: url("../public/Timeless.ttf");
}

@media only screen and (max-width: 1300px) {
    .hero {
        visibility: hidden;
    }
    .content {
        display: block;
    }
}